.DS_Store
.idea
.vscode/*
.env
.nyc_output
.git
.origintrail-noderc
node_modules
keys
data
importers
# postman
# test
node.log
modules/blockchain_interface/ethereum/build/*
modules/Blockchain/Ethereum/build/
hidden_service
/modules/Database/system.db
