node_modules
.DS_Store
.idea
.vscode/*
.env
.nyc_output
kad-storage/*
system/*
!system/.gitkeep
import-log.txt
OT-GIT-NODE-DEVELOP.zip
manual-testing-scripts
node.log
keys
data
modules/blockchain_interface/ethereum/build/*
modules/Blockchain/Ethereum/build/
hidden_service
!*.gitkeep
Envoy.blade.php
!/keys/.gitkeep
!/data/.gitkeep
!/data/wallet.dat/.invalid/.gitkeep
!/data/wallet.dat/.transferred/.gitkeep
!/data/wallet.dat/.gitkeep
/modules/Database/system.db
@kadenceproject
test.*
db_backup/*
newrelic_agent.log
