language: node_js
node_js:
  - "9"
before_script:
  - touch modules/Database/system.db
  - ./node_modules/.bin/sequelize db:migrate
  - ./node_modules/.bin/sequelize db:seed:all
  - mkdir keys
  - echo arangodb3 arangodb/password password root | sudo debconf-set-selections  # set username 'root'
  - echo arangodb3 arangodb/password_again password root | sudo debconf-set-selections  # set password 'root'
  - chmod +x setup_arangodb.sh
  - ./setup_arangodb.sh
  - rm -rf ArangoDB-3.2.2.tar.gz
script:
  - export NODE_ENV=test
  - npm run lint
  - npm test
  - npm start &>start.log &
  - sleep 20
  # [RS] npm start is not healthy atm, enable back once it is
  # - jobs
  # - kill %1
  # - node isStartHealthy.js
after_script:
  - cat start.log
  - rm -f start.log
  - kill -9 $(pgrep arangod)