language: node_js
node_js:
  - "9"
services:
  - neo4j
env:
  - NODE_ENV=development
sudo: enabled
before_script:
  - cp .env.travis .env
  - npm run config
  - echo arangodb3 arangodb/password password root | sudo debconf-set-selections  # set username 'root'
  - echo arangodb3 arangodb/password_again password root | sudo debconf-set-selections  # set password 'root'
  - chmod +x setup_arangodb.sh
  - ./setup_arangodb.sh &> /dev/null
  - rm -rf ArangoDB-3.2.2.tar.gz
  - npm install -g ganache-cli &> /dev/null
  - npm install -g truffle &> /dev/null
script:
  - npm run lint
  # checks for angangodb based solution
  - npm test
  - npm start &>arangodb.log &
  - sleep 5
  - jobs
  - kill %1
  # make sure previous deamon is really terminated
  - jobs
  - kill $(lsof -t -i:8900)
  - node isStartHealthy.js arangodb
  # switches graph database in .env
  - node switchDatabase.js
  # checks for neo4j based solution
  - npm run config &> /dev/null
  - npm start &>neo4jdb.log &
  - sleep 5
  - jobs
  - kill %1
  - node isStartHealthy.js neo4jdb
  # compile and check Smart Contracts
  - ganache-cli -i 5777 -p 7545 -l 10000000 &>ganache.log &
  - cd modules/Blockchain/Ethereum
  - truffle test --network test
  - rm -rf build && truffle migrate --reset --compile-all --network ganache
  - cd ../../../
  - jobs
  - kill %1
after_script:
  - cat arangodb.log
  - rm -f arangodb.log
  - cat neo4jdb.log
  - rm -f neo4jdb.log
  - cat ganache.log
  - rm -f ganache.log
  - kill -9 $(pgrep arangod)
