#/lib/systemd/system/fuseki.service

[Unit]
Description=OtFuseki - OriginTrail V8 Node
Documentation=https://github.com/OriginTrail/ot-node
After=network.target

[Service]
Environment=JVM_ARGS=-Xmx4G
Type=simple
User=root
WorkingDirectory=/root/ot-node/fuseki
ExecStart=/usr/bin/java -jar /root/ot-node/fuseki/fuseki-server.jar --update --set tdb:unionDefaultGraph=true
Restart=on-failure

[Install]
WantedBy=multi-user.target
