#/lib/systemd/system/fuseki.service

[Unit]
Description=Fuseki - OriginTrail V6 Stage 1 Beta Node
Documentation=https://github.com/OriginTrail/ot-node
After=network.target

[Service]
Environment=JVM_ARGS=-Xmx4G
Type=simple
User=root
WorkingDirectory=/root
ExecStart=/usr/bin/java -jar /root/jena-fuseki-server-4.4.0.jar --set tdb:unionDefaultGraph=true --update --loc /root/tdb /node0
Restart=on-failure

[Install]
WantedBy=multi-user.target
