#/lib/systemd/system/graphdb.service

[Unit]
Description=GraphDB - OriginTrail V8 Node
Documentation=https://github.com/OriginTrail/ot-node
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/ot-node/graphdb-free/bin/
ExecStart=/root/ot-node/graphdb-free/bin/graphdb
Restart=on-failure

[Install]
WantedBy=multi-user.target
