#/lib/systemd/system/graphdb.service

[Unit]
Description=GraphDB - OriginTrail V6 Stage 1 Beta Node
Documentation=https://github.com/OriginTrail/ot-node
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/$(ls /root | grep graphdb-free | grep -v .zip)/bin/
ExecStart=/root/$(ls /root | grep graphdb-free | grep -v .zip)/bin/graphdb
Restart=on-failure

[Install]
WantedBy=multi-user.target